/* -------------------
 * --- Typography ----
 * -------------------
 */
@function minimosCuadrados($values) {
  $length: length(map_keys($values));

  @if ($length < 2) {
    @error "minimosCuadrados() $values must be at least 2 values"
  }

  $sumXTotal: 0;
  $sumYTotal: 0;
  @each $x, $y in $values {
    $sumXTotal: $sumXTotal + $x;
    $sumYTotal: $sumYTotal + $y;
  }
  $xAverage: $sumXTotal / $length;
  $yAverage: $sumYTotal / $length;

  $multipliedDiff: 0;
  $squaredDiff: 0;
  @each $x, $y in $values {
    // Diferencias entre el promedio de X
    $resDiff: $x - $xAverage;

    // Diferencias entre el promedio de Y
    $valueDiff: $y - $yAverage;

    $multipliedDiff: $multipliedDiff + ($resDiff * $valueDiff);
    $squaredDiff: $squaredDiff + ($resDiff * $resDiff);
  }

  // Calcula la pendiente o tendencia
  $slope: $multipliedDiff / $squaredDiff;

  $result: $yAverage - ($slope * $xAverage);
  @return calc(#{$slope*100}vw + #{$result}px);
}

@function fromPxToEm($pixels) {
  $correlations: ('1em': 16);

  @if (unit($pixels) == "em") {
    @return $pixels;
  }

  $result: stripUnit($pixels) / map_get($correlations, '1em');


  @return $result;
}