/******* General Styles for the component *******/
.transition {
  @include prefixed(transition, all ease-in-out .5s);
}

/*----------------------------------------------*/



$first-slide: (
        background-color: $primaryDark,
        primary-title-color: $primaryRed,
        secondary-title-color: $primaryWhite,
        primary-text-color: $primaryWhite,
        primary-button-color: $tertiaryRed,
        secondary-button-color: $primaryRed
);

$second-slide: (
        background-color: $primaryRed,
        primary-title-color: $primaryWhite,
        secondary-title-color: $primaryDark,
        primary-text-color: $primaryWhite,
        primary-button-color: $sectionDark,
        secondary-button-color: $primaryDark
);

header#learn-chinese + main {
  @include arrow-slider($first-slide, $second-slide);
}