/******* General Styles for the component *******/
.transition {
  @include prefixed(transition, all ease-in-out .5s);
}

/*----------------------------------------------*/

.bg-info-box {
  padding: 2em;
  @include prefixed(filter, grayscale(100%));
  @include prefixed(filter, grayscale(100%));
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.8s ease;
  &--primary {
    background-image: url('/../../storage/images/student.jpg');
    background-position-y: 30%;
  }
}

%default-info-box {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  background-color: #00000070;
  border: 5px solid $white;
  border-radius: 30px;
  height: 350px;
  box-shadow: 3px 3px 20px #00000080;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  .prices {
    margin: 0.5em 0.5em 0 0.5em;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    .price-tag {
      @include flexbox();
      @include flex-direction(column);
      $map: (295: 32, 389: 66, 688: 70, 1875: 70);
      font-size: 3.3em;
      font-weight: 700;
      text-align: center;
      i.currency {
        $map: (295: 28, 1875: 48);
        font-size: minimosCuadrados($map);
        font-style: normal;
        position: relative;
        top: -20px;
      }
    }
  }

  @media only screen and (min-width: 675px) {
    .prices {
      @include inline-flex();
      @include flex-direction(row);
      .price-tag {
        font-size: 3em;
        &:first-of-type {
          margin-right: 1em;
        }

        &:last-of-type {
          float: right;
        }
      }

    }
  }

  p {
    margin-bottom: 0px;
    @include flexbox();
    @include flex-direction(column);

    & > *:not(.advice) {
      width: auto;
      margin: 0 auto;
    }

    .advice {
      margin: 1em 0 0 .5em;

    }
  }
}

%price-box {
  height: auto;
  width: 100%;
  max-width: 600px;
}

.course-information {
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);
  padding: 2em;
  color: $primaryWhite;
  .course-information_box {
    @extend %default-info-box;
  }
  .price-box {
    @extend %price-box;
  }
  .course-information_box:not(:last-child) {
    margin-bottom: 2em;
  }
}

$first-slide: (
        background-color: $primaryDark,
        primary-title-color: $primaryRed,
        secondary-title-color: $primaryWhite,
        primary-text-color: $primaryWhite,
        primary-button-color: $tertiaryRed,
        secondary-button-color: $primaryRed
);

$second-slide: (
        background-color: $primaryRed,
        primary-title-color: $primaryWhite,
        secondary-title-color: $primaryDark,
        primary-text-color: $primaryWhite,
        primary-button-color: $sectionDark,
        secondary-button-color: $primaryDark
);

header#learn-chinese + main {
  @include arrow-slider($first-slide, $second-slide);
}