.dashboard-panel {
  .toolbox {
    margin: 0 auto;
    $items-width: 130px;
    $items-height: 130px;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include flex-wrap(wrap);
    width: 100%;
    margin: 1em 0;

    @media only screen and (min-width: 320px) {
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(initial);

      &_button:last-of-type {
        margin-right: auto;
        margin-left: 1em;
      }
    }

    @media only screen and (min-width: 440px) {
      @include justify-content(space-between);
      &_button:last-of-type {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @media only screen and (min-width: 992px) {
      @include justify-content(space-around);
    }

    & > .toolbox_button:first-child, > .toolbox_button:not(:first-child) {
      margin-left: 0.5em !important;
    }

    &_button {
      border-radius: 28px !important;
      padding: 0;
      border: 2px solid $primaryDark;
      border-radius: 28px;
      color: $primaryDark;
      max-width: $items-width;
      height: auto;
      @include prefixed(transition, all ease-out .2s);

      &:hover,
      :active {
        color: $primaryWhite;
        background: $primaryDark;
      }

      i {
        font-size: 5em;
        width: $items-width;
        height: $items-height * 0.7;
        line-height: 100px;
        display: block;
      }

      span {
        height: $items-height * 0.3;
        line-height: $items-height * 0.3;
        margin: 0 auto;
        display: block;
      }
    }

    & > .toolbox_button:first-child, & > .toolbox_button:not(:first-child) {
      margin-left: 0.5em !important;
      margin-right: 0.5em !important;
      margin-bottom: 1em;
    }
  }
}
