

footer {
  background: $primaryDark;
  color: $primaryWhite;
  .contact_form {
    div {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        .checkbox_slider {
          position: absolute;
          cursor: pointer;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          background: $neutralColor;
          @include prefixed('transition','.4s');
          &--rounded {
              border-radius: 34px;
          }
          &:before {
            position: absolute;
            content:"";
            width:26px;
            height: 26px;
            background: $primaryWhite;
            left: 4px;
            bottom: 4px;
          }
        }


      }
      input:focus + .checkbox_slider {
        box-shadow: 0 0 1px $primaryRed;
      }

      input:checked + .checkbox_slider {
        background: $primaryRed;
      }
      input[type^=checkbox] {
        opacity: 0;
        width: 0;
        height: 0;
      }
      label{
        padding-top: 60px;
        padding-bottom: 15px;
        margin-bottom: 0px;
      }
      input, textarea {
        background: $primaryDark;
        color: $primaryWhite;
        border-width: 0px 0px 2px 0px;
        padding: 10px 0px;
      }

      textarea::-webkit-input-placeholder {
        color: $neutralColor;
      }

      textarea::-moz-placeholder {
        color: $neutralColor;
      }
    }
  }
}