
@media #{$small-and-medium-devices} {
  footer {
    .footer {
      &_title {
        display: flex;
      }
      &_header {
        flex-direction: column;
        &_contact_form {
          max-width: 100%;
        }
      }

      &_web-map {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 50px;
      }
    }
  }
}

footer {
  background: $primaryDark;
  color: $primaryWhite;
  .footer {
    .footer_subtitle {
      color: $secondaryRed;
      text-transform: uppercase;
      font-size: 1.3em;
    }
    &_header {
      display: flex;
    }
    padding: 0px 30px;
    .footer_title {
      padding-top: 35px;
      padding-bottom: 5px;
    }
    &_contact_form {
      div {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .switch {
          position: relative;
          display: block;
          width: 60px;
          height: 34px;
          margin-top: 10px;
          .checkbox_slider {
            position: absolute;
            cursor: pointer;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background: $neutralColor;
            @include prefixed('transition','.4s');
            &--rounded {
                border-radius: 34px;
            }
            &--rounded:before {
              border-radius: 50%;
            }

            &:before {
              position: absolute;
              content:"";
              width:26px;
              height: 26px;
              background: $primaryWhite;
              left: 4px;
              bottom: 4px;
              @include prefixed('transition','.4s');
            }
          }
        }
        input:focus + .checkbox_slider {
          box-shadow: 0 0 1px $primaryRed;
        }

        input:checked + .checkbox_slider {
          background: $primaryRed;
        }

        input:checked + .checkbox_slider:before {
          @include prefixed('transform', 'translateX(26px)');
        }

        input[type^=checkbox] {
          opacity: 0;
          width: 0;
          height: 0;
        }

        label, .g-recaptcha {
          padding-top: 45px;
          margin-bottom: 0px;
          &.switch {
            padding: 0;
          }
        }

        input, textarea {
          background: $primaryDark;
          color: $primaryWhite;
          border-width: 0px 0px 2px 0px;
          padding: 10px 0px;
          font-size: 0.8em;
        }

        textarea::-webkit-input-placeholder {
          color: $neutralColor;
        }

        textarea::-moz-placeholder {
          color: $neutralColor;
        }

        .footer_submit, .footer_reset {
          cursor: pointer;
          padding: 10px 0;
          margin-top: 45px;
          width: 40%;
          background: $tertiaryRed;
          border: none;
          @include fade();
          border-radius: 34px;
        }

        &:last-of-type {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    &_web-map {
      &_items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        div {
          padding: 1em 0;
          .web-map_list {
            li {
              padding: 0.5em 0;
            }
          }
        }
      }
      li, a {
        color: $neutralColor;
      }
    }

    &_social-media {
      i {
        font-family: $primary-font;
      }

      i::before {
        font-size: 2em;
        padding: 0 0.5em 0 0;
        font-family: $social-media-font;
      }

      &_sublist {
        display: flex;
        justify-content: space-between;
      }
    }

    &_footer {
      h4 {
        color: $primaryRed;
        font-size: 1.2em
      }
    }
  }
}

@media #{$footer-fix} {
  .footer {
    &_web-map_items {
      grid-template-columns: 1fr !important;
    }
  }
}