/* -------------
 * - Reset CSS -
 * -------------
 */
ul {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: 0;
  }
}
/* ------------------------------------------------------- */

/* -------------
 * --- Text ----
 * -------------
 */
h1, h2, h3, h4, button {
  color: $primaryWhite;
}

h4 {
  font-size: 2em;
}

a {
  color: white;
  font-weight: 700;
  &:hover {
    text-decoration: none;
    color: $tertiaryRed;
  }
}

/// Función que cálcula el tamaño de la fuente mediante el método
/// de los mínimos cuadrados.
@function minimosCuadrados($values) {
  $length: length(map_keys($values));

  @if ($length < 2) {
    @error "minimosCuadrados() $values must be at least 2 values"
  }

  $sumXTotal: 0;
  $sumYTotal: 0;
  @each $x, $y in $values {
    $sumXTotal: $sumXTotal + $x;
    $sumYTotal: $sumYTotal + $y;
  }
  $xAverage: $sumXTotal / $length;
  $yAverage: $sumYTotal / $length;

  $multipliedDiff: 0;
  $squaredDiff: 0;
  @each $x, $y in $values {
    // Diferencias entre el promedio de X
    $resDiff: $x - $xAverage;

    // Diferencias entre el promedio de Y
    $valueDiff: $y - $yAverage;

    $multipliedDiff: $multipliedDiff + ($resDiff * $valueDiff);
    $squaredDiff: $squaredDiff + ($resDiff * $resDiff);
  }

  // Calcula la pendiente o tendencia
  $slope: $multipliedDiff / $squaredDiff;

  $result: $yAverage - ($slope * $xAverage);
  @return calc(#{$slope*100}vw + #{$result}px);
}


/* -------------
 * - Elements --
 * -------------
 */
header {
  position: relative;
  text-transform: uppercase;
}

.body-button {
  padding: 15px;
  &_primary {
    background: $primaryRed;
  }
}

.cta {
  border: none;
  margin: 2em auto 0 auto;
  height: 45px;
  padding: 0;
  cursor: pointer;
  background: $tertiaryRed;
  border: none;
  @include fade();
  border-radius: 34px;
  a {
    display: inline-block;
    $map: (320: 14, 824: 18, 1903: 18);
    font-size: minimosCuadrados($map);
    line-height: 45px;
    height: 100%;
    width: 100%;
    font-weight: 500;
    &:hover,
    &:focus,
    &:active {
      color: $primaryWhite;
    }
    i {
      padding-left: 1em;
    }
  }
}

header {
  height: 20em;
}

nav {
  height: auto;
  line-height: auto;
}

/* Imágenes del header */
header#home{
  background-image: url('/../../storage/images/practicas-1-1.jpg');
  height: 50rem;
  text-transform: none;
}

header#internship {
  background-image: url('/../../storage/images/practicass.jpg');
}