/* -------------
 * - Reset CSS -
 * -------------
 */
ul {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: 0;
  }
}
/* ------------------------------------------------------- */

/* -------------
 * --- Text ----
 * -------------
 */
h1, h2, h3, h4, button {
  color: $primaryWhite;
}

h4 {
  font-size: 2em;
}

a {
  color: white;
  font-weight: 700;
  &:hover {
    text-decoration: none;
    color: $tertiaryRed;
  }
}

/// Función que cálcula el tamaño de la fuente mediante el método
/// de los mínimos cuadrados.
@function minimosCuadrados($values) {
  $length: length(map_keys($values));

  @if ($length < 2) {
    @error "minimosCuadrados() $values must be at least 2 values"
  }

  $sumXTotal: 0;
  $sumYTotal: 0;
  @each $x, $y in $values {
    $sumXTotal: $sumXTotal + $x;
    $sumYTotal: $sumYTotal + $y;
  }
  $xAverage: $sumXTotal / $length;
  $yAverage: $sumYTotal / $length;

  $multipliedDiff: 0;
  $squaredDiff: 0;
  @each $x, $y in $values {
    // Diferencias entre el promedio de X
    $resDiff: $x - $xAverage;

    // Diferencias entre el promedio de Y
    $valueDiff: $y - $yAverage;

    $multipliedDiff: $multipliedDiff + ($resDiff * $valueDiff);
    $squaredDiff: $squaredDiff + ($resDiff * $resDiff);
  }

  // Calcula la pendiente o tendencia
  $slope: $multipliedDiff / $squaredDiff;

  $result: $yAverage - ($slope * $xAverage);
  @return calc(#{$slope*100}vw + #{$result}px);
}


/* -------------
 * - Elements --
 * -------------
 */
header {
  position: relative;
}

.primary-button {
  background: $primaryRed;
  padding: 10px;
}