header {
  &.primary {
    @include header((
        position: center,
    ), 30em, uppercase);
  }

  &.secondary {
    $map: (328: 480, 577: 480, 1656: 624, 1746: 766, 2500: 766);
    $height: minimosCuadrados($map);

    @include header((
            position: center,
            position-y: 4em,
    ), $height);

    @media #{$large-devices_secondary} {
      background-position-y: 2em;
    }
  }
}