@function get-color($color) {
  @return map-get($colors, $color);
}

$black: black;
$red1: #B71C1C;
$red2:#F44336;
$red3:#E57373;
$red4:rgb(59, 53, 53);
$white: white;
$black2:#2D2B2E;
$black3:#161414;
$colors:( 'red': $primaryRed, 'black':$primaryDark, 'white':$primaryWhite, 'grey':$neutralColor);

/******* General Styles for the component *******/
.red-section {
  background-color: get-color('red');
  h5 {
    color: $primaryDark;
  }
  color: $primaryWhite;
}

.black-section {
  background-color: get-color('black');
  h5 {
    color: $primaryWhite;
  }
  color: $neutralColor;
}

.white-section {
  background-color: get-color('white');
  h5 {
    color: $primaryRed;
  }
  color: $primaryDark;
}

.grey-section {
  background-color: get-color('grey');
  h5 {
    color: $primaryWhite;
  }
  color: $primaryDark;
}

.black_and_white {
  h5 {
    color: $primaryWhite;
  }
  color: $primaryWhite;
}

.mx-width {
  max-width: 1342px;
}

@media only screen and (min-width: 1382px) {
  .mx-width {
    margin-top: 2em;
    margin-bottom: 4em;
  }

}

.grid-sd {
  @include prefixed(display, grid);
  @include prefixed(grid-template-columns, '1fr');
}

.grid-md {
  @include prefixed(display, grid);
  @include prefixed(grid-template-columns, '50% 50%');
  @include prefixed(grid-template-rows, '375px 375px 375px 375px 375px');
}

.grid-ld {
  @include prefixed(display, grid);
  @include prefixed(grid-template-columns, 'calc(100% / 3) calc(100% / 3) calc(100% / 3)');
  @include prefixed(grid-template-rows, '375px 375px 375px');
}

.no-padding {
  padding: 0;
}

/*************** Component Style ****************/
.container-fluid {
  .motifs {
    .motif {
      &_card {
        @include prefixed(display, flex);
        @include prefixed(flex-direction, column);
        @include prefixed(justify-content, center);
        height: 375px;
        padding: 2em;
        &_title {
          margin-bottom: 2em;
          font-size: 1.8em;
        }

        &_body {
          &_text {
            line-height: 1.8;
          }
        }
      }
      &_picture {
        @include prefixed(display, flex);
        @include prefixed(justify-content, center);
        img {
          width: 100%;
        }
      }
    }
  }

  .motifs.unified {
    .motif {
      &_picture {
        display: none;
      }
    }
  }

  .item {
    width: 28.2rem;
    height: 18.8rem;
    h4 {
      margin-left: 25px;
      padding-top: 20px;
      font-size: 30px;
      font-weight: 600;
    }
    p {
      font-family: 'Raleway', sans-serif;
      // font-family: 'Merriweather', serif;
      margin-left: 25px;
      margin-right: 25px;
      padding-top: 8px;
      text-align: justify;
      font-size: 14px;
    }
    img {
      width: 28.2rem;
      height: 18.8rem;
      object-fit: cover;
      filter: grayscale(100%)
    }
  }
  .padding-box {
    padding: 1rem;
  }
}

@media #{$footer-fix} {
  .container-fluid {
    .motifs#mission {
      @include prefixed(grid-row, '1 / 2');
    }

    .motifs#awards {
      @include prefixed(grid-row, '1 / 3');
    }

    .motifs#values {
      @include prefixed(grid-row, '2 / 3');
    }

    .motifs#distinguishable {
      @include prefixed(grid-row, '3 / 5');
    }

    .motifs#offering {
      @include prefixed(grid-row, '3 / 5');
    }

    .motifs#us {
      @include prefixed(grid-row, '5 / 6');
      @include prefixed(grid-column, '1 / 3');
    }

    .motifs {
      .motif_card {
        @include prefixed(justify-content, flex-start);
        h5 {
          margin-bottom: 1em;
        }
      }
      .motif_picture {
        height: 100%;
        overflow: hidden;
        img {
          height: 500px;
          width: auto;
        }
      }
    }
  }
}

@media #{$large-devices} {
  .container-fluid {
    .motifs#mission {
      @include prefixed(grid-column, '1 / 2');
    }

    .motifs#awards {
      @include prefixed(grid-column, '2 / 4');
      & > div {
        width: 50%;
      }
    }

    .motifs#values {
      @include prefixed(grid-row, '2 / 3');
      @include prefixed(grid-column, '3 / 4');
    }

    .motifs#distinguishable {
      @include prefixed(grid-row, '2 / 3');
      @include prefixed(grid-column, '1 / 3');
      & > div {
        width: 50%;
      }
    }

    .motifs#offering {
      @include prefixed(grid-row, '3 / 4');
      @include prefixed(grid-column, '2 / 4');
      & > div {
        width: 50%;
      }
    }

    .motifs#us {
      @include prefixed(grid-row, '3 / 4');
      @include prefixed(grid-column, '1 / 2');
    }

    .motifs {
      @include prefixed(display, flex);
      .motif_card {
        @include prefixed(justify-content, flex-start);
        h5 {
          margin-bottom: 1em;
          width: 100%;
        }
      }

      .motif_picture {
        height: 100%;
        width: 50%;
        overflow: hidden;
        img {
          height: 450px;
          width: auto;
        }
      }
    }
  }
}