@function get-color($color) {
  @return map-get($colors, $color);
}

$black: black;
$red1: #B71C1C;
$red2:#F44336;
$red3:#E57373;
$red4:rgb(59, 53, 53);
$white: white;
$black2:#2D2B2E;
$black3:#161414;
$colors:( 'red': $primaryRed, 'black':$primaryDark, 'white':$primaryWhite, 'grey':$neutralColor);

/******* General Styles for the component *******/
.red-section {
  background-color: get-color('red');
  h2 {
    color: $primaryDark;
  }
  color: $primaryWhite;
}

.black-section {
  background-color: get-color('black');
  h2 {
    color: $primaryWhite;
  }
  color: $neutralColor;
}

.white-section {
  background-color: get-color('white');
  h2 {
    color: $primaryRed;
  }
  color: $primaryDark;
}

.grey-section {
  background-color: get-color('grey');
  h2 {
    color: $primaryWhite;
  }
  color: $primaryDark;
}

.black_and_white {
  @include prefixed(filter, grayscale(100%));
}

grid-sd {
  @include prefixed(display, grid);
  @include prefixed(grid-template-columns, '1fr');
}

.no-padding {
  padding: 0;
}

/*************** Component Style ****************/
.container-fluid {
  .motifs {
    .motif {
      &_card {
        @include prefixed(display, flex);
        @include prefixed(flex-direction, column);
        @include prefixed(justify-content, center);
        height: 375px;
        padding: 2em;
        &_title {
          margin-bottom: 2em;
        }

        &_body {
          &_text {
            line-height: 1.8;
          }
        }
      }
      &_picture {
        img {
          width: 100%;
        }
      }
    }
  }

  .motifs.unified {
    .motif {
      &_picture {
        display: none;
      }
    }
  }

  .item {
    width: 28.2rem;
    height: 18.8rem;
    h2 {
      margin-left: 25px;
      padding-top: 20px;
      font-size: 30px;
      font-weight: 600;
    }
    p {
      font-family: 'Raleway', sans-serif;
      // font-family: 'Merriweather', serif;
      margin-left: 25px;
      margin-right: 25px;
      padding-top: 8px;
      text-align: justify;
      font-size: 14px;
    }
    img {
      width: 28.2rem;
      height: 18.8rem;
      object-fit: cover;
      filter: grayscale(100%)
    }
  }
  .padding-box {
    padding: 1rem;
  }
}