/* Mixins */
@mixin animation($animationName) {
  animation: $animationName 1s ease-in-out;
  -moz-animation: $animationName 1s ease-in-out;
  -webkit-animation: $animationName 1s ease-in-out;
  -ms-animation: $animationName 1s ease-in-out;
}

@import 'modal-login';

.navbar {
  background: $primaryWhite;
  justify-content: center;
  align-items: center;
  z-index:2;
  &_menu {
    li {
      cursor: pointer;
      div[data-toggle="dropdown"] {
        color: $primaryDark;
        &:hover {
          color: $primaryWhite;
        }
      }
    }
  }

  a {
    color: $primaryDark;
  }

  .selector:hover{
    color: $primaryWhite;
    background: $primaryDark;
  }

  .media {
    div {
      float: left;
    }

    a {
      padding: 1em;
      margin: 0;
      height: auto;
      color: $primaryDark;

    }
    a:hover {
      background: $primaryDark;
      color: $primaryWhite;
    }
  }

  .social-media-nav-links{
    width: 3em;
  }

  .btn-secondary{
    background: $primaryWhite;
    border: none;
    color: $primaryDark;
    font-weight: 700;
    padding-left: 2em;
  }

  btn-btn-secondary dropdown-toggle{
    background-color: $primaryWhite;
    border-color: $primaryWhite;
  }

  @media only screen and (min-width: 100px) and (max-width: 1059px) {
    .toggleOption {
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      padding-left: 2em;
      font-weight: bold;
    }

    &_menu {
      padding-bottom: 3px;
      width: 100%;
      flex: 0 0 100%;
      justify-content: space-between;
      align-content: center;
      max-width: 100%;



      li.dropdown:hover {
        & > a {
          color: $primaryWhite;
        }
      }

      &--hidden {
        display: none;

        .accordeon{
          width: 100%;
          position: static;
          margin: 0;
          float: none;
          padding: 0;
          border: none;
          border-radius: 0px;
          @include prefixed(border-radius, 0);
          li {
            a {
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }
      }

      .toggleMenu {
        background: rgba(0,0,0,0);
        border: 1px solid $primaryDark;
        padding: 8px 13px;
        float: right;

        i {
          font-size: 2em;
          color: $primaryDark;
        }
      }

      &--display {
        display: block;
        position: absolute;
        top: 74px;
        left: 0px;
        padding: 0;
        background: $navbarPrimary;
        @include animation(easy);
        a, .media {
          color: $primaryDark;
          span, i,a {
            line-height: 40px;
            padding-left: 1em;
          }
          i {
            padding-right: 1em;
          }
        }

        li:hover {
          background: $primaryDark;
          color: $primaryWhite;
          a:hover{
            background: $primaryDark;
            color: $primaryWhite;
          }
        }

        li.dropdown {
          cursor: pointer;
          a[data-toggle="dropdown"] {
            color: $primaryDark;
            &:hover,
            &:active,
            &:focus {
              color: $primaryWhite;
            }
          }

          a {
            div.toggleOption {
              i {
                padding: 0;
                position: absolute;
                top: 3px;
                right: 2em;
              }
            }
          }
        }

        .social-media-nav:hover {
          background: initial;
          cursor: initial;
        }

        li.inline-items {
          background: none;
          a {
            padding: .5em;
            border-radius: 10px;
            border: solid 1px $primaryDark;
          }

          a:hover, a.selected {
            background: $primaryDark;
            color: $primaryWhite;
          }

          a[data-target="#language"] {
            display: none;
          }
        }
      }

      img {
        height: 55px;
      }
    }
  }


  @media only screen and (min-width: 1060px) {
    &_menu {
      padding-bottom: 3px;
      display:flex;
      align-items: center;
      font-size: bold;


      li {
        float: left;
        padding-left: 20px;
      }

      li.dropdown {
        div.toggleOption {
          i {
            padding-left: 1em;
          }
        }
      }

      .inline-items {
        & > div.toggleOption {
          display: none;
        }
      }

      .social-media-nav {
        margin-left: auto;
        a {
          i {
            width: 16px;
          }
          i::before {
            display: block;
            text-align: center;
          }

        }
      }

      .toggleMenu {
        display: none;

      }

      img {
        height: 55px;
      }
    }
  }
}