/* Mixins */
@mixin animation($animationName) {
  animation: $animationName 1s ease-in-out;
  -moz-animation: $animationName 1s ease-in-out;
  -webkit-animation: $animationName 1s ease-in-out;
  -ms-animation: $animationName 1s ease-in-out;
}

.navbar {
  background: $navbarDark;
  z-index:2;
  .logo {

  }
  @media #{$small-and-medium-devices} {
    &_menu {
      padding-bottom: 3px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &--hidden {
        display: none;
        li {
          padding-bottom: 10px;
          padding-top: 15px;
        }
      }

      .toggleMenu {
        background: rgba(0,0,0,0);
        border: 1px solid $primaryWhite;
        padding: 8px 13px;
        i {
          font-size: 2em;
          color: $primaryWhite;
        }
      }

      &--display {
        display: block;
        position: absolute;
        top: 74px;
        left: 0px;
        background: $navbarDark;
        padding: .5em 2em;
        @include animation(easy);
      }

      img {
        height: 55px;
      }
    }
  }

  @media #{$large-devices} {
    &_menu {
      padding-bottom: 3px;
      justify-content: flex-start;
      li {
         float: left;
         padding-bottom: 10px;
         padding-top: 15px;
         padding-left: 20px;
       }

      .toggleMenu {
        display: none;
      }

      img {
        height: 55px;
      }
    }
  }
}

