
main {
  //decoration for page
  .triangulo {
    position: absolute;
    color: $neutralColor;
    width: 0;
    height: 0;
    border-right: 200px solid transparent;
    border-left: 200px solid $neutralColor;
    border-top: 200px solid $neutralColor;
    border-bottom: 200px solid transparent;
  }
  .news {
    @include prefixed(clip-path, 'polygon(0 0, 100% 0, 100% 100%, 0 81%)');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    background-color: $primaryRed;
    z-index: 0;
    position: relative;
    &_container {
      margin-left: 2em;
      margin-right: 2em;
      padding-top: 1.5em;
      .section_title {
        display: block;

        h2 {
          margin-bottom: 2em;
          font-size: 20px;
          text-align: left;
          color: $primaryWhite;
        }
      }

      .section_body {
        display: flex;
        justify-content: space-between;
        .note {
          a {
            display: inline-block;
            padding: 0;
            margin-bottom: 1em;
          }

          &_quote {
            .author {
              display: block;
            }
            p {
              height: auto;
              font-size: 13px;
              font-style: italic;
              color: $primaryWhite;
              display: inline-block;
            }
          }
        }

        .tv {
          width: 494px;
          height: 385px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          align-items: baseline;
        }
      }
    }
  }
}

@media #{$footer-fix} {
  main {
    .news {
      @include prefixed(clip-path, 'polygon(0 0, 100% 0, 100% 100%, 0 78%)');
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
      &_container {
        .section_body div {
          margin-bottom: 2em;
        }
        .section_body {
          flex-direction: column;
          align-items: center;
          .tv {
            width: 100%;
            height: auto;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(5, 1fr);
            grid-row-gap: 2em;
            img {
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              width: 60px;
            }
          }
        }
      }
    }
  }
}

@media #{$small-and-medium-devices_secondary} {
  .news {
    &_container {
      .section_body {
        flex-direction: column;
        .tv {
          width: 100%!important;
          height: auto!important;
          display: flex!important;
          flex-wrap: wrap!important;
          justify-content: center;
          a {
            padding: 0.7em;
          }
          img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
          }
        }
      }
    }
  }
}

@media #{$large-devices} {
  .news {
    @include prefixed(clip-path, 'polygon(0 0, 100% 0, 100% 100%, 0 71%)');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 51%);
  }
}

  //.oferts {
  //  // -webkit-clip-path: polygon(0 0, 100% 55%, 100% 100%, 0% 100%);
  //  // clip-path: polygon(0 0, 100% 55%, 100% 100%, 0% 100%);
  //  position: relative;
  //  //bottom: 225px;
  //  display: grid;
  //  grid-template-columns: repeat(3, 1fr);
  //  grid-template-rows: 321px;
  //  //grid-gap: 5px;
  //  .item {
  //    width: 100%;
  //    height: 100%;
  //    filter: grayscale(100%);
  //  }
  //  .rect {
  //    text-align: center;
  //    position: relative;
  //    bottom: 23rem;
  //    color: $white;
  //    background-color: #00000050;
  //    width: 300px;
  //    height: 350px;
  //    margin-left: 70px;
  //    border: 5px solid $white;
  //    border-radius: 20px;
  //    h3 {
  //      text-align: center;
  //      padding-top: 20px;
  //    }
  //    hr {
  //      border: 3px solid $white;
  //    }
  //    p {
  //      text-align: center;
  //      margin-top: 50px;
  //    }
  //    button {
  //      width: 100px;
  //      height: 40px;
  //      border: 3px solid white;
  //      border-radius: 24px;
  //      background: white;
  //      a {
  //        text-align: center;
  //        color: $black2;
  //        margin-top: 30px;
  //        font-weight: 600;
  //      }
  //    }
  //    a:hover {
  //      color: $red4;
  //      cursor: pointer;
  //    }
  //  }
  //}
  //.border {
  //  height: 8px;
  //  background-color: $red5;
  //  border: $red5;
  //}
  ////como trabajamos
  //#id2 {
  //  position: relative;
  //  h2 {
  //    position: absolute;
  //    right: 10px;
  //    width: 453px;
  //    top: 18px;
  //    z-index: 100;
  //    font-size: 30px;
  //  }
  //  h4 {
  //    font-weight: bold;
  //    font-size: 14px;
  //    a {
  //      text-decoration: none;
  //      color: $black2;
  //    }
  //    a:hover {
  //      color: $red1;
  //      text-decoration: none;
  //    }
  //  }
  //  //para el paso de registro
  //  .service-1 {
  //    position: absolute;
  //    left: 169px;
  //    width: 230px;
  //    top: 400px;
  //  }
  //  //busqueda del servicio
  //  .service-2 {
  //    position: absolute;
  //    left: 372px;
  //    width: 246px;
  //    top: 200px;
  //  }
  //  //asesoramiento
  //  .service-3 {
  //    position: absolute;
  //    right: 440px;
  //    width: 328px;
  //    top: 430px;
  //  }
  //  //exit
  //  .service-4 {
  //    position: absolute;
  //    left: 990px;
  //    width: 620px;
  //    top: 120px;
  //  }
  //  img {
  //    z-index: -100;
  //  }
  //}
