.news {
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: transparent;

  &::before {
    content: "";
    border-style: inset;
    border-width: 0px 100vw 100px 0px;
    border-color: $primaryRed $primaryRed transparent $primaryRed;
    float: left;
    z-index: -1;
    position: absolute;
    height: calc(100% + 8em);
  }

  &_container {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1.5em;

    .section_title {
      display: block;

      h2 {
        margin-bottom: 2em;
        font-size: 18px;
        text-align: left;
        color: $primaryWhite;
      }
    }

    .section_body {
      @include prefixed(flex-direction, column);
      @include prefixed(display, flex);
      @include prefixed(justify-content, space-around);

      .note_window {
        max-width: 450px;
        @media #{$large-devices-secondary} {
          max-width: 700px;
        }
        overflow: hidden;
        .note_carrousel {
          transition:
                  transform 0.5s;
          @include prefixed(display, inline-flex);
          .slider_note {
            max-width: 450px;
            @media #{$large-devices-secondary} {
              max-width: 700px;
            }
            a {
              img {
                width: 70px;
              }
            }
          }
        }
      }

      .note {
        a {
          display: inline-block;
          padding: 0;
          margin-bottom: 1em;
        }

        &_quote {
          margin-top: 1em;
          .author {
            display: block;
          }
          p {
            height: auto;
            font-size: 13px;
            font-style: italic;
            color: $primaryWhite;
            display: inline-block;
          }
        }
      }

      .tv {
        display: block;
        a {
          display: block;
          width: 65px;
          margin: 0 auto;
          height: 60px;

          .helper {
            height: 100%;
            vertical-align: middle;
            display: inline-block;
          }

          img {
            position: relative;
            vertical-align: middle;
            left: 50%;
            transform: translateX(-50%);
            width: 65px;
          }

          @media only screen and (min-width: 240px) and (max-width: 320px) {
            width: calc(100% / 3);
            float: left;

            &:nth-child(3n+4) {
              clear: both;
            }

            img {
              width: 45px;
            }
          }

          @media #{$medium-devices} {
            width: calc(100% / 4);
            height: 60px;
            float: left;

            &:nth-child(4n+5) {
              clear: both;
            }

            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 781px) and (max-width: 991px) {
  .news {
    &_container {
      .section_body {
        @include prefixed(flex-direction, row);
        .tv {
          a {
            width: calc(100% / 3);
            height: 63px;
            float: left;
            padding: 0 1.25em;

            &:nth-child(3n+4) {
              clear: both;
            }

            img {
              width: 45px;
            }
          }
        }
      }
    }
  }
}

@media #{$large-devices} {
  .news {
    &_container {
      .section_body {
        @include prefixed(flex-direction, row);
        .tv {
          a {
            width: calc(100% / 4);
            height: 63px;
            float: left;
            padding: 0 1.25em;

            &:nth-child(4n+5) {
              clear: both;
            }

            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
}


/*@media #{$medium-devices} {
  main {
    .news {
      &_container {
        .section_body div {
          margin-bottom: 2em;
        }
        .section_body {
          @include prefixed(display, flex);
          @include prefixed(flex-direction, column);
          .tv {
            @include prefixed(display, flex);
            @include prefixed(flex-wrap, wrap);
            @include prefixed(align-items, baseline);
            @include prefixed(justify-content, space-evenly);
            padding: 5px;
            a {
              padding: 1em;
              text-align: left;
              margin: 5px;
              img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 45px;
              }
            }
          }
        }
      }
    }
  }
}*/

/*@media only screen and (min-width: 781px) and (max-width: 991px) {
  main {
    .news {
      &_container {
        .section_body {
          .tv {
            @include prefixed(display, grid);
            @include prefixed(grid-template-columns, repeat(3, 1fr));
            @include prefixed(align-items, baseline);
            @include prefixed(grid-gap, 2em);
            padding: 5px;
            a {
              img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
}*/

//@media #{$large-devices_secondary} {
//  .news {
//    &_container {
//      .section_body {
//        padding-right: 10em;
//        padding-left: 10em;
//      }
//    }
//  }
//}
