@media #{$small-devices} {
  .news {
    &_container {
      .section_body {
        @include prefixed(flex-direction, column);
        .tv {
          @include prefixed(display, flex);
          @include prefixed(flex-wrap, wrap);
          @include prefixed(align-items, baseline);
          @include prefixed(justify-content, space-between);
          a {
            padding: 0.7em;
          }
          img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 45px;
          }
        }
      }
    }
  }
}

@media #{$small-and-medium-devices} {
  main {
    .news {
      &::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
        bottom: -79%
      }
    }
  }
}

@media #{$medium-devices} {
  main {
    .news {
      &_container {
        .section_body div {
          margin-bottom: 2em;
        }
        .section_body {
          @include prefixed(display, flex);
          @include prefixed(flex-direction, column);
          .tv {
            @include prefixed(display, flex);
            @include prefixed(flex-wrap, wrap);
            @include prefixed(align-items, baseline);
            @include prefixed(justify-content, space-evenly);
            padding: 5px;
            a {
              padding: 1em;
              text-align: left;
              margin: 5px;
              img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 45px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$footer-fix} {
  main {
    .news {
      @include prefixed(clip-path, 'polygon(0 0, 100% 0, 100% 100%, 0 78%)');
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
      &::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
        bottom: -79%;
      }
    }
  }
}

@media only screen and (min-width: 781px) and (max-width: 991px) {
  main {
    .news {
      &_container {
        .section_body {
          .tv {
            @include prefixed(display, grid);
            @include prefixed(grid-template-columns, repeat(3, 1fr));
            @include prefixed(align-items, baseline);
            @include prefixed(grid-gap, 2em);
            padding: 5px;
            a {
              img {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$large-devices} {
  .news {
    @include prefixed(clip-path, 'polygon(0 0, 100% 0, 100% 100%, 0 81%)');
    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
      bottom: -79%;
    }

    &_container {
      .section_body {
        .tv {
          @include prefixed(display, grid);
          @include prefixed(grid-template-columns, repeat(4, 1fr));
          @include prefixed(align-items, baseline);
          @include prefixed(grid-gap, 2em);
          padding: 5px;
          a {
            img {
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              width: 50px;
            }
          }
        }
      }
    }
  }
}

@media #{$large-devices_secondary} {
  .news {
    &_container {
      .section_body {
        padding-right: 10em;
        padding-left: 10em;
      }
    }
  }
}

main {
  .news {
    @include prefixed(clip-path, 'polygon(0 0, 100% 0, 100% 100%, 0 81%)');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);
    background-color: $primaryRed;
    z-index: 3;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: $primaryWhite;
      @include prefixed(transform, rotate(180deg));
    }

    &_container {
      margin-left: 2em;
      margin-right: 2em;
      padding-top: 1.5em;
      .section_title {
        display: block;

        h2 {
          margin-bottom: 2em;
          font-size: 20px;
          text-align: left;
          color: $primaryWhite;
        }
      }

      .section_body {
        @include prefixed(display, flex);
        @include prefixed(justify-content, space-around);
        .note_window {
          max-width: 450px;
          overflow: hidden;
          .note_carrousel {
            transition:
              transform 0.5s;
            @include prefixed(display, inline-flex);
            .slider_note {
              max-width: 450px;
              a {
                img {
                  width: 70px;
                }
              }
            }
          }
        }
        .note {
          a {
            display: inline-block;
            padding: 0;
            margin-bottom: 1em;
          }

          &_quote {
            margin-top: 1em;
            .author {
              display: block;
            }
            p {
              height: auto;
              font-size: 13px;
              font-style: italic;
              color: $primaryWhite;
              display: inline-block;
            }
          }
        }

        .tv {
          height: auto;

          a {
            width: auto;
          }
        }
      }
    }
  }
}