.offers {
  & > * {
    margin: 2rem;
  }
  .manager-list {
    a {
      color: $primaryRed;
    }
  }
}

.form {
  .form_header {
    &:first-of-type {
      padding: 1rem;
    }
  }

  &_body {
    animation: scale-display 0.3s;
    animation-fill-mode: forwards;
    &--hidden {
      animation: scale-display--reversed 0.3s;
      animation-fill-mode: forwards;
    }

  }



  .dropdown-button {
    padding: 10px;
    font-size: 20px;
    margin: 0 auto;
    @include shutter-in-horizontal();
    border-radius: 5px;

    &:before {
      border-radius: 3px;
    }
  }

  .form-title {
    border-top: 1px solid $primaryRed;
    h2 {
      color: $neutralColor;
      text-transform: uppercase;
      padding: 2rem 1rem 2rem 1rem;
      letter-spacing: 1rem;

      $map: (356: 24, 1279: 26, 1689: 30);
      font-size: minimosCuadrados($map)
    }
  }
}