/* Centrar verticalmente (el elemento padre tiene que
 * tener el atributo 'position: relative' para que
 * funcione)
 */
@mixin verticalAlign() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.main-section--primary {
  /* Centrar verticalmente */
  @include verticalAlign();
  display: block;
  width: 100%;

  z-index: 2;
  .title-card {
      background: $sectionDark;
      margin: 0 auto;
      padding: 1.5em;
      border-radius: 28px;
      border: 2px solid $primaryWhite;
      display: flex;
      flex-direction: column-reverse;

      .cta {
        border: none;
        margin: 2em auto 0 auto;
        height: 45px;
        padding: 0;
        cursor: pointer;
        background: $tertiaryRed;
        border: none;
        @include fade();
        border-radius: 34px;
        a {
          display: inline-block;
          $map: (320: 14, 824: 18, 1903: 18);
          font-size: minimosCuadrados($map);
          line-height: 45px;
          height: 100%;
          width: 100%;
          font-weight: 500;
          &:hover,
          &:focus,
          &:active {
            color: $primaryWhite;
          }
          i {
            padding-left: 1em;
          }
        }
      }

      &-header {
        $map: (397: 24, 482: 24, 1903: 42);
        font-size: minimosCuadrados($map);
        line-height: 1.4;
        font-weight: 700;
        text-align: center;
        margin: .5em;
      }
  }
}

@media #{$small-devices} {
  .title-card {
    .cta {
      height: 35px;
      a {
        line-height: 35px;
      }
    }
  }
}
