.services {
  position: relative;
  z-index: 1;
  .service_card {
    &#s_internship {
      background: url('/../../storage/images/team.jpg') no-repeat scroll center;
      background-size: cover;
    }

    &#s_university {
      background: url('/../../storage/images/student.jpg') no-repeat scroll center;;
      background-size: cover;
    }

    &#s_learn {
      background: url('/../../storage/images/service-1.jpg') no-repeat scroll center;
      background-size: cover;
    }
  }

  .service_card:first-of-type {
    padding-top: 10em;
  }
  .service_card {
    padding: 3em 2em 3em 2em;
    &_container {
      max-width: 500px;
      border: 2px solid $primaryWhite;
      background: rgba(0, 0, 0, .6);
      @include prefixed(border-radius, 25px);
      padding: 2em;
      margin: 0 auto;

      .service_card {
        &_body {
          color: $primaryWhite;
        }

        &_header {
          height: 50px;
        }

        &_footer {
          .cta {
            line-height: 45px;
            font-weight: 500;
            width: 80%;
            margin: 3em auto 0 auto;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

@media #{$large-devices} {
  .services {
    @include prefixed(display, flex);
    @include prefixed(justify-content, space-evenly);
    .service_card {
      padding-top: 10em;
      width: calc(100% / 3);
      &_container {
        .service_card {
          &_header {
            height: 80px;
          }
        }
      }
    }
  }
}