main {
  .breadcumb_section {
    ol {
      background: $neutralColor;
      padding: 0;
      display: flex;
      li {
        padding: 0 1em;
        list-style-type: none;
        line-height: 52px;
        background: $primaryRed;
        a {
          display: block;
          color: $primaryWhite;
          text-decoration: underline;
          font-weight: 500;
        }
      }
    }
  }

  .readable_section {
    margin-top: 2.2em;
    &_title {
      color: $primaryRed;
      $map: (320: 22, 362: 22, 1400: 26);
      font-size: minimosCuadrados($map);
      margin-bottom: 1.2em;
    }

    #jobDescription {

      h5, p {
        color: $primaryDark;
      }

      h4 {
        $map: (320: 20, 362: 20, 1400: 24);
        font-size: minimosCuadrados($map);
        margin-bottom: 1em;
        color: $primaryRed;
      }

      h5 {
        margin-bottom: .8em;
        $map: (320: 18, 362: 218, 1400: 22);
        font-size: minimosCuadrados($map);
      }

      ul {
        margin-left: 1em;
        margin-bottom: 2em;
        li {
          list-style-type: initial;
          margin: .5em;
        }
      }

      a {
        color: $secondaryRed;
        font-weight: 500;

        &:hover, &:active {
          text-decoration: underline;
        }
      }
    }

    .card_background-image {
      display: flex;
      justify-content: flex-end;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 80%;
      max-width: 500px;
      &_info {
        width: 50%;
        background: rgba(0,0,0, 0.4);
        color: $primaryWhite;
        text-align: center;
        .card-title {
          padding: 1em 0 1em 5px;
          letter-spacing: .4em;
          font-weight: 700;
          margin-bottom: 0;
        }

        .card-text {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          padding: 1em 0;
          .month {
            display: flex;
            flex-direction: column;
            .month_value {
              $map: (475: 98, 338: 37, 500: 109, 1800: 109);
              font-size: minimosCuadrados($map);
              font-weight: 700;
            }
          }
        }
      }
    }

    @media #{$small-devices} {
      .card_background-image {
        background-size: 185%;
        background-position: 50% 100%;
        &_info {
          width: 100%;
          padding: 20% 0;
          .card-title {
            padding-top: .5em;
            padding-bottom: .5em;
          }
          .card-text {
            padding: .5em 0;
            .month {
              flex-direction: row;
              justify-content: center;
              align-items: center;
              .month_value {
                font-size: 22px;
                padding-right: .3em;
              }
            }
          }
        }
      }
    }

    @media #{$footer-fix} {
      .card_background-image {
        &_info {
          width: 30%;
        }
      }
    }

    @media #{$large-devices} {
      .card_background-image {
        &_info {
          width: 30%;
        }
      }
    }
  }

  .sendable_section {
    padding: 1.5em 1em;
    z-index: 1000;
    width: 100%;
    background: $primaryWhite;
    height: 94px;
    margin-top: 2.2em;
    margin-bottom: 1em;
    top: calc(100% - 84px); // (Alto del viewport - altura del elemento)
    @include prefixed(transition, all .3s ease-in-out);
    .offers_buttons {
      display: flex;
      .cta {
        max-width: 325px;
      }
    }
    &--fixed {
      @include prefixed(transition, all .3s ease-in-out);
      padding: 1.5em 1em;
      position: fixed;
      z-index: 1000;
      width: 100%;
      background: $neutralColor;
      height: 94px;
      top: calc(100% - 84px); // (Alto del viewport - altura del elemento)
      left: 0;
      .offers_buttons {
        display: flex;
        .cta {
          max-width: 325px;
        }
      }
    }
  }
}

