$montse: Montserrat;
$red1: #B71C1C;
$red2:#F44336;
$red3:#E57373;
$red4:#C80B0B;
$white:white;
$black2:#2D2B2E;
section {
  .box-testi {
    text-align: center;
    width: 100%;
    height: 440px;
    background-color: $red4;
    h2 {
      margin: 25px;
      font-size: 20px;
      text-align: left;
      position: absolute;
      color: $white;
    }
    .testim {
      width: 15rem;
      height: 18rem;
      min-width: 300px;
      text-align: center;
      display: inline-block;
      margin-top: 6rem;
      margin-left: 50px;
      margin-right: 50px;
      .linkedinpic {
        width: 6rem;
        border: solid 2px $black2;
        border-radius: 50%;
        margin: 1rem;
      }
      h3 {
        color: $white;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
      }
      h4 {
        color: $white;
        font-size: 13px;
        text-align: center;
      }
      h5 {
        color: $white;
        font-size: 10px;
        text-align: center;
      }
      i {
        font-size: 25px;
        color: white;
      }
      p {
        color: $white;
        font-size: 13px;
        font-style: italic;
        text-align: center;
      }
    }
  }
}

//para la imagen de la quote de arriba
.quote1 {
  opacity: 0.5;
  width: 202px;
  height: 202px;
  position: absolute;
  right: 15px;
  transform: rotate(180deg);
}

//quote de abajo
.quote2 {
  opacity: 0.5;
  width: 202px;
  height: 202px;
  position: absolute;
  margin-top: 250px;
  left: 15px;
  transform: rotate(0deg);
}

// #testimonials {
//   width: 100%;
//   height: 30rem;
//   display: inline-block;
//   h4 {
//     font-weight: 600;
//     padding: 20px;
//   }
// }
// .testimonials {
//   width: 95%;
//   height: 35rem;
//   display: inline-block;
//   padding: 0;
// }
// .testim {
//   width: 15rem;
//   height: 18rem;
//   min-width: 300px;
//   text-align: center;
//   display: inline-block;
//   margin-left: 2rem;
//   margin-right: 2rem;
//   margin-top: 0;
//   .linkedinpic {
//     width: 6rem;
//     border: solid 2px;
//     border-radius: 50%;
//     margin: 1rem;
//   }
//   h2 {
//     color: $red1;
//     font-style: italic;
//     font-weight: bolder;
//     font-size: 1rem;
//     font-family: $montse;
//   }
//   h3 {
//     color: $red3;
//     font-size: 0.7rem;
//     font-family: $montse;;
//   }
//   h4 {
//     color: $red2;
//     font-size: 0.8rem;
//     font-family: $montse;
//   }
//   i {
//     font-size: 1.5rem;
//   }
//   p {
//     font-size: 0.8rem;
//     font-family: $montse;
//   }
// }
// .buttons {
//   width: 100%;
// }