
// Body
$body-bg: #f8fafc;

// Typography
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: black;
$red1: #B71C1C;
$red2:#F44336;
$red3:#E57373;
$red4:#C80B0B;
$white: white;
$black2:#2D2B2E;
