@import './forms/dialog-box-confirmed';

.user-card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  a {
    color: $primaryRed;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  #dialog-box {
    form {
      @include inputText();
      @include select();
      label {
        font-weight: 700;
        height: 22px;
      }

      .is-invalid {
        border-color: $primaryRed;
      }

      .invalid-feedback, .invalid-stripe-feedback {
        font-size: 0.8em;
        font-weight: 700;
        color: $secondaryRed;
        padding-left: 0;
      }
    }
  }

  &__action {
    margin-top: 3em;
    .cta {
      margin-top: 0;
      margin-left: auto;
      margin-right: 0;
      display: block;
    }

    .row {
      .cta {
        margin-right: 15px;
        margin-left: auto;
      }
    }

    a {
      font-weight: 700;
    }
  }
}