$montse: Montserrat;
$black: black;
$red1: #B71C1C;
$red2:#F44336;
$red3:#E57373;
$red4:#C80B0B;
$white: white;
$black2:#2D2B2E;
$black3:#161414;
//llamada del scss de nav,slider,funcion,testimonials,footer
@import '_customer-journey';
@import '_welcome-card';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $montse;
  background: $white;
}