$montse: Montserrat;
$black: black;
$red1: #B71C1C;
$red2:#F44336;
$red3:#E57373;
$red4:#C80B0B;
$white: white;
$black2:#2D2B2E;
$black3:#161414;
//llamada del scss de nav,slider,funcion,testimonials,footer
@import 'testimonials';
@import 'news';
@import 'page-title';
@import 'services';
//grid system for extend
%grid {
  display: grid;
  margin: 12px;
  padding: 20px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $montse;
  background: $white;
}

header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

header.auth {
  background: $primaryRed;
  height: 20rem;
}

//grid system
.grid {
  @extend %grid;
  h2 {
    font-weight: 500;
    font-size: 28px;
  }
}