$montse: Montserrat;
$black: #000000;
$red1: #B71C1C;
$red2:#F44336;
$red3:#E57373;
$red4:#C80B0B;
$white: #ffffff;
$black2:#2D2B2E;
$black3:#161414;
@import 'chinese-courses';
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $montse;
  background: $white;
}

header {
  border-bottom: 10px solid $white;
  .img {
    background-image: url(/../storage/images/learn1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
  }
  .box {
    width: 600px;
    height: 150px;
    border: 3px solid $white;
    border-radius: 18px;
    padding: 20px 40px;
    margin: 60px;
    background-color: #00000050;
    color: $white;
    h1 {
      font-family: 40px;
    }
    p {
      text-align: justify;
      font-family: 'Raleway', sans-serif;
    }
  }
}