main.full-viewport {
  background: url('/../../storage/images/china1.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
  #login {
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefixed(transform, 'translate(-50%, -50%)');

    a {
      &:hover {
        text-decoration: underline;
      }
    }
    .card {
      border: none;
      @include prefixed(box-shadow, '0px 0px 6px black');
      .card-header {
        background: $primaryDark;
        color: $primaryWhite;
        a {
          &:hover,
          &:active {
            color: $primaryWhite;
          }
        }

        span:first-of-type {
          font-size: 18px;
        }

        span:last-of-type {
          float: right;
          line-height: 27px;
        }
      }

      .card-body {
        form {

          a {
            color: $quaternaryRed;
          }

          input {
            @include marginBottom;
            &:focus {
              border-color: $primaryRed;
            }
          }

          .cta {
            width: 100%;
          }

          .switch {
            input {
              @include reset;
            }
            @include switchButton;
            width: 68px;
            height: 38px;
            .checkbox_slider {
              &:before {
                width: 30px;
                height: 30px;
              }

              &:after {
                left: 38px;
              }

              // Text within the switch when is unchecked
              &--rounded::after {
                top: 11px;
              }
            }

            input:checked + .checkbox_slider:before {
              @include prefixed('transform', 'translateX(28px)');
            }

            // Text within the switch when is checked
            input:checked + .checkbox_slider:after {
              top: 11px;
            }
          }

          .switch ~ label {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .credit {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    color: $primaryWhite;
    color: $neutralColor;
    opacity: 0.5;
    a {
      font-weight: 500;
      &:hover {
        text-decoration: underline;
        color: $neutralColor;
      }
    }


  }
}
