.confirmation {
  background-image: url('/../../storage/images/confirmation-message.jpg');
  background-size: cover;
  background-position-x: 100%;
  height: 66vh;
  .confirmation_content {
    color: $primaryDark;
    text-align: center;
    padding: 3em 0 8em 0;

    h1 {
      $map: (425: 26, 812: 26, 1440: 38);
      font-size: minimosCuadrados($map);
      color: $secondaryRed;
      margin-bottom: 1em;
    }

    p {
      $map: (425: 16, 812: 16, 1440: 18);
      font-size: minimosCuadrados($map);
      margin-bottom: 3em;
    }

    [class^="confirmation_button"] {
      color: $primaryWhite;
    }

    .confirmation_more_info {
      cursor: pointer;
      $map: (425: 16, 812: 16, 1440: 18);
      padding: 10px;
      font-size: minimosCuadrados($map);
      @include shutter-in-horizontal();
    }
  }
}

@media #{$footer-fix} {
  .confirmation {
    background-position-y: 100%;
    &_content {
      width: 70%;
      text-align: left;
      .confirmation_more_info {
        width: 50%;
      }
    }
  }
}

@media #{$large-devices} {
  .confirmation {
    background-position-y: 100%;
    &_content {
      width: 70%;
      text-align: left;
      .confirmation_more_info {
        width: 50%;
      }
    }
  }
}