//#loginModal, #offerModal, #termsAndConditionsModal, #GDPRModal, #privacyPolicy {
//
//  .medium-icon {
//    font-size: 3em;
//  }
//
//  .modal-link {
//    color: $primaryRed;
//
//    &:hover,
//    &:focus,
//    &:active {
//      text-decoration: underline;
//    }
//  }
//}

#loginModal {
  text-transform: none;
  .modal-column {
    flex-direction: column;
    > :not(:first-child) {
      margin: 10px 0;
    }

    > :not(:last-child) {
      margin: 6px 0;
    }
  }
}

#offerModal {
  .modal-footer {
    .modal-button {
      width: 33.333%;
      height: 3em;
    }
  }

  @media #{$small-devices} {
    .modal-footer {
      @include prefixed(flex-direction, column);
      .modal-button {
        width: 80%;
        margin: 0 0 1em 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}