.container {
    .extended-form {
        padding: 2em 0;
        border: none;
        .card-body {
            padding: 0em;
            form {
                input {
                    @include marginBottom;
                    &:focus {
                        border-color: $primaryRed;
                    }
                }

                & > div > label,
                & > div > div > label{
                    font-weight: 700;
                }

                & > div:not(:first-of-type) {
                    margin-top: 19px;
                }

                .regular-select-wrapper {
                    z-index: 2;
                    position: relative;
                    select {
                        @include resetSelect;
                        @include marginBottom;
                        z-index: -1;
                        cursor: pointer;
                        &:focus {
                            border-color: $primaryRed;
                        }
                    }
                    &::before {
                        @include arrowIcon;
                        top: 5px;
                    }
                }

                .switch {
                    input {
                        @include reset;
                    }
                    @include switchButton;
                    width: 68px;
                    height: 38px;
                    .checkbox_slider {
                        &:before {
                            width: 30px;
                            height: 30px;
                        }

                        &:after {
                            left: 38px;
                        }
                    }

                    input:checked + .checkbox_slider:before {
                        @include prefixed('transform', 'translateX(28px)');
                    }
                }

                .shutter-button {
                    padding: 0.4em;
                    font-size: 16px;
                    width: 100%;
                    cursor: pointer;
                    @include shutter-in-horizontal();
                    border-radius: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 410px) {
    .container {
        .extended-form {
            .card-body {
                form {
                    & > div:last-of-type {
                        @include prefixed(flex-direction, row);
                        .shutter-button {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        .extended-form {
            .card-body {
                form {
                    & > div:first-of-type {
                        @include prefixed(display, flex);
                        margin-bottom: 0px;

                        & > div > label {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

/* Toggled fields (University, Study and Industry) */
#industryFieldset, #universityFieldset, #studyFieldset {
    div {
        .sw_input {
            height: 65px;
            @include prefixed(display, flex);
            @include prefixed(justify-content, space-between);
            @include prefixed(align-items, center);

            label {
                margin-top: .5em;
                font-size: 15px;
            }

            label:first-of-type {
                width: 45%;
            }
        }
    }
}

@media #{$small-devices} {
    #industryFieldset, #universityFieldset, #studyFieldset {
        div {
            .sw_input {
                height: auto;
                @include prefixed(flex-direction, column);
                @include prefixed(justify-content, flex-start);
                @include prefixed(align-items, flex-start);
                label:first-of-type {
                    margin-bottom: 0;
                    margin-top: 1em;
                }
            }
        }
    }
}

@media #{$medium_devices_secondary} {
    #industryFieldset, #universityFieldset, #studyFieldset {
        div {
            @include prefixed(display, grid);
            @include prefixed(grid-template-columns, '1fr 1fr');
            @include prefixed(grid-gap, '0 1.5em');
            .sw_input {
                label:first-of-type {
                }
            }
        }
    }
}

@media #{$large-devices} {
    #industryFieldset, #universityFieldset, #studyFieldset {
        div {
            @include prefixed(display, grid);
            @include prefixed(grid-template-columns, '1fr 1fr');
            @include prefixed(grid-gap, '0 1.5em');
            .sw_input {
                label:first-of-type {
                }
            }
        }
    }
}