.container {
    .extended-form {
        padding: 2em 0;
        border: none;
        .card-body {
            padding: 0em;
            form {
                a {
                    color: $tertiaryRed;
                    &:hover,
                    &:active {
                        text-decoration: underline;
                    }
                }

                //@include inputText();

                .regular-select-wrapper {
                    z-index: 2;
                    position: relative;
                    select {
                        @include resetSelect;
                        @extend %input-margins;
                        z-index: -1;
                        cursor: pointer;
                        &:focus {
                            border-color: $primaryRed;
                        }
                    }
                    &::before {
                        @include arrowIcon;
                        top: 5px;
                    }
                }

                .switch {
                    input {
                        @include reset;
                    }
                    @include switchButton;
                    width: 68px;
                    height: 38px;
                    .checkbox_slider {
                        &:before {
                            width: 30px;
                            height: 30px;
                        }

                        &:after {
                            left: 38px;
                        }
                    }

                    input:checked + .checkbox_slider:before {
                        @include prefixed('transform', 'translateX(28px)');
                    }
                }

                .shutter-button {
                    padding: 0.4em;
                    font-size: 16px;
                    width: 100%;
                    height: 101%;
                    cursor: pointer;
                    @include shutter-in-horizontal();
                    border-radius: 30px;
                }

                & > .form-group:last-of-type {
                    margin-top: 4em;
                }
            }
        }
    }
}

@media only screen and (max-width: 410px) {
    .container {
        .extended-form {
            .card-body {
                form {
                    & > div:last-of-type {
                        @include flex-direction(row);
                        .shutter-button {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* Toggled fields (University, Study and Industry) */
#industryFieldset, #universityFieldset, #studyFieldset {
    div {
        .sw_input {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);

            label {
                margin-top: .5em;
                font-size: 1em;
            }

            label:first-of-type {
                width: 55%;
            }
        }
    }
}

@media only screen and (min-width: 575px) {
    #industryFieldset, #universityFieldset, #studyFieldset {
        & > div {
            @include grid();
            @include grid-template-columns(1fr 1fr);
            @include grid-column-gap(5%);
            .sw_input {
                height: auto;
                @include justify-content(space-between);
                @include flex-direction(row);
                @include align-items(center);
                label:first-of-type {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        .extended-form {
            .card-body {
                form {
                    & > div:first-of-type {
                        @include flexbox();
                        margin-bottom: 0px;

                        & > div > label {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}