.sensationalism-stats {
  @include prefixed(display, flex);
  @include prefixed(justify-content, space-evenly);
  @include prefixed(flex-direction, row);
  @include prefixed(align-items, center);
  height: 100%;
  .facts {
    p {
      color: white;
      font-size: 20px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 1em;
      &:last-of-type {
        margin-top: 1em;
        margin-bottom: 0;
      }
    }
    .circle {
      @include prefixed(border-radius, 50%);
      margin: 0 auto;
      width: 100px;
      height: 100px;
      background-color: $navbarDark;
      border: 3px solid white;
      h4.count {
        color: white;
        line-height: 100px;
        text-align: center;
        font-weight: 700;
      }
    }
  }

  @media only screen and (max-width: 680px) {
    .facts:not(:first-of-type) {
      display: none;
    }
  }

  @media #{$footer-fix} {
    .facts:last-of-type {
      display: none;
    }
  }
}

@import '_motifs';
