.accordion-list {

  $image-width: 100px;
  $image-height: 100px;

  &__info {
    p {
      color: $primaryDark;
      font-weight: 700;
      margin: 1em 0;
    }

    &--empty {
      p {
        @include flexbox();
        @include flex-direction(column);

        & > *:not(:first-child) {
          margin-top: 1em;
        }

        i {
          font-size: 6em;
          color: $neutralColor;
          margin: 0 auto;
        }
        color: $quaternaryRed;
        text-align: center !important;
        font-weight: 700;
      }
    }
  }

  &__card-list {
    @include media-breakpoint-up(xl) {
      @include flexbox();
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include align-items(flex-start);
    }
  }

  @include media-breakpoint-up(xl) {
    &__card {
      flex: 0 0 45%;
      &:last-child:not(:nth-child(even)) {
        margin-left: 1.25em;
        margin-right: 1.25em;
      }
    }

    &__info {
      p {
        color: $primaryDark;
        font-weight: 700;
        margin: 1em 2.666%;
      }
    }
  }

  &__card {
    margin: 4em auto;

    &-header {
      position: relative;
    }

    &-image {
      position: absolute;
      background: $primaryWhite;
      width: $image-width;
      height: $image-height;
      top: -50px;
      border: 6px solid $white;
      border-radius: 20px;
    }

    &-title {
      $line-height: 1.6;
      $font-size: 1em;
      overflow: hidden;
      margin-top: 3em;
      margin-bottom: 1.5em;
      text-align: left;
      padding: 0;
      font-size: $font-size;
      color: $primaryDark;
      white-space: inherit;
      &:hover {
        color: $tertiaryRed;
      }

      @include media-breakpoint-up(sm) {
        margin-top: 0;
        margin-left: auto;
        width: calc(100% - #{$image-width} - 10px);
        display: block;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 3em;
        margin-left: 0;
        width: 100%;
      }
    }

    &-subtitle {
      font-weight: 700;
    }

    &-description {
      $line-height: 1.6;
      $font-size: 1em;
      $rows: 2;
      font-size: $font-size;
      line-height: $line-height;
      min-height: $line-height * $font-size * $rows;
    }

    &-body {
      padding-top: 15px;
      padding-bottom: 15px;

      ul {
        line-height: 2;
      }

      .c-cta-button {
        margin: 0;
      }
    }
  }
}