.banner {
  a {
    color: $secondaryRed;

    &:hover {
      color: $quaternaryRed;
      text-decoration: underline;
    }
  }

  &__container {

  }

  &__thumbnail {
    margin: 1.5em auto;

    i {
      width: 100%;
      text-align: center;
      font-size: 6em;
      color: $successColor;
    }
  }

  &__supporting-text {

  }

  &__action {
    margin-bottom: 1rem;
  }
}