div.flex-table {
  margin: 2em auto;
}

table.flex-table {
  $breakpoint: 'screen and (max-width: 600px)';

  $grid-fix: 'screen and (min-width: 380px) and (max-width: 576px)';

  $c-cta-button-height: 38px;
  $columns-width: 200px;
  $font-size: 0.85em;

  margin: 0.5em 0;
  border-collapse: collapse;
  font-size: $font-size;
  width: 100%;
  min-width: 280px;

  tr {
    padding: .35em;

    .c-cta-button {
      height: $c-cta-button-height;
      a {
        line-height: $c-cta-button-height;;
      }
    }
  }

  td {
    width: $columns-width;
  }

  thead tr > th:first-child, tbody tr > td:first-child {
    text-align: left;

    @media #{$breakpoint} {
      text-align: right;
    }
  }

  tbody {
    tr.flex-table__item-content {
      border-top: 1px solid $neutralColor;

      .flex-table__item-action {
        .row {
          .col-12 {
            padding-left: 0;
            padding-right: 0;
            @media #{$breakpoint} {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }

        .c-cta-button {
          &--primary {
            width: $c-cta-button-height;
            margin-top: 0;

            a {
              font-size: 0;
              color: transparent;
              & > i {
                color: $primaryWhite;
                padding: 0.75em 0 0 0;
                font-size: initial;
              }
            }

            @media #{$breakpoint} {
              width: 100%;
              margin-top: .5em;

              a {
                font-size: $font-size;
                color: $primaryWhite;

                & > i {
                  margin-left: 0.5em;
                  padding: 0;
                }
              }
            }
          }
        }

        & > .col-12 {
          & > .row {
            & > .col-12.col-sm-6 {
              @media #{$grid-fix} {
                max-width: 50%;
              }
            }
          }
        }
      }
    }
  }

  th {
    text-transform: uppercase;
  }

  th,
  td {
    padding: .625em;
    text-align: center;
  }

  @media #{$breakpoint} {
    border: 0;

    thead {
      border: none;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tbody {
      tr.flex-table__item-content {
        border: 0;
      }

      tr.flex-table__item-action:not(:last-child) {
        border-bottom: 1px solid $neutralColor;
      }
    }

    tr {
      border-bottom: 3px;
      display: block;
      margin-bottom: .625em;
    }

    td {
      border-bottom: 1px;
      display: block;
      text-align: right;
      width: auto;

      &::before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        text-transform: uppercase;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}