form {
  &.extended-form {
    .form-group {
      margin-bottom: 1.75em;
    }

    a {
      color: $tertiaryRed;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    .form-group {
      label:not(.c-switch-input__label):not(.radio-chips__item-label) {
        font-weight: 700;
      }
    }

    .c-shutter-button {
      height: 45px;
    }
  }

  .invalid-feedback {
    height: 100%;
  }
}