.searchbox {
  @include flexbox();
  width: 100%;
  margin-top: 1em;

  input {
    min-width: 100px;
  }

  button {
    @include reset-input(button);
    padding: 0.375rem 0.75rem;
    background: $neutralColor;
    color: $primaryWhite;
    font-weight: 700;
    border: 1px solid $neutralColor;
    span {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    max-width: 400px;

    button {
      max-width: 100px;
      span {
        display: inline;
      }
    }
  }
}