.nav-tabs {
  .nav-item {
    .nav-link {
      color: $sectionDark;
      @include prefixed(transition, color ease-in-out .3s);
      &.active, &:active, &:hover {
        color: $primaryDark;
      }

      & > span {
        display: none;
      }

      @include media-breakpoint-up(sm) {
        & > span {
          display: initial;
        }
      }
    }
  }

  & + .tab-content {
    padding: 2em 0;

    .error-message, .success-message {
      font-size: 0.85em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      i {
        margin-right: 0.25em;
      }
    }

    .success-message {
      color: $successColor;
    }

    .error-message {
      color: $quaternaryRed;
    }
  }
}

.content-tab {
  .toolbox {
    &__tool {
      margin: 0.5em 0;
    }
  }
}