@mixin breadcrumb() {
  #breadcrumb{

    background: $neutralColor;
    padding-top: .5em;
    ul {
      list-style:none;
      display: inline-block;
    }

    .icon{
      font-size: 14px;
    }

    li{
      float:left;
      a {
        color:$primaryWhite;
        display:block;
        font-weight: 500;
        background: $primaryDark;
        text-decoration: none;
        position:relative;
        height: 40px;
        line-height:40px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px;
      }
      &:nth-child(even){
        a {
          background-color: $quaternaryRed;

          &:before{
            border-color:$quaternaryRed;
            border-left-color:transparent;
          }
          &:after{
            border-left-color:$quaternaryRed;
          }

          &:hover{
            background-color: $secondaryRed;

            &:before{
              border-color:$secondaryRed;
              border-left-color:transparent;
            }
            &:after{
              border-left-color:$secondaryRed;
            }
          }
        }
      }
      &:nth-child(odd) {
        a {
          &:hover{
            background-color: $secondaryDark;

            &:before{
              border-color:$secondaryDark;
              border-left-color:transparent;
            }
            &:after{
              border-left-color:$secondaryDark;
            }
          }
        }
      }
      &:first-child{
        a {
          padding-left:15px;
          @include border-radius(4px 0 0 4px);
          &:before{
            border:none;
          }
        }
      }
      &:last-child{
        a{
          padding-right:15px;
          @include border-radius(0 4px 4px 0);
          &:after{
            border:none;
          }
        }
      }

      a{
        &:before,
        &:after{
          content: "";
          position:absolute;
          top: 0;
          border: 0 solid $primaryDark;
          border-width: 20px 10px;
          width: 0;
          height: 0;
        }
        &:before{
          left:-20px;
          border-left-color:transparent;
        }
        &:after{
          left:100%;
          border-color:transparent;
          border-left-color:$primaryDark;
        }
        &:hover{
          &:before{
            border-left-color:transparent;
          }
        }
        &:active{
          background-color: $secondaryRed;

          &:before{
            border-color:$secondaryRed;
            border-left-color:transparent;
          }
          &:after{
            border-left-color:$secondaryRed;
          }
        }
      }
    }
  }

}