header {
  &.primary, &.secondary, &.stats {
    background-size: cover;
    background-repeat: no-repeat;

    .header-box {
      border: 2px solid $primaryWhite;
      background: $sectionDark;

      &__title {
        color: $primaryWhite;
      }
    }
  }

  &.error-found {
    background-size: cover;
    background-repeat: no-repeat;
    $map: (328: 480, 577: 480, 1656: 624, 1746: 766, 2500: 766);
    height: minimosCuadrados($map);
    background-position: center;

    .error-box {
      width: 100%;

      &__title {
        color: $primaryDark;
      }
    }
  }

  &.primary, &.secondary, &.tertiary {
    .header-box {
      @include header-box();
    }
  }

  &.primary, &.tertiary {
    height: 20em;
    text-transform: uppercase;
  }

  &.primary, &.secondary, &.tertiary, &.stats, &.error-found {
    position: relative;

    section.wrapper {
      /** Vertically centered **/
      @include verticalAlign();

      display: block;
      width: 100%;
      z-index: 1;
      padding: 0 1.5em;
    }

    .header-box {
      color: $primaryWhite;
    }

    .header-box {
      &__title {
        font-size: 1.5em;
        line-height: 1.4;
        font-weight: 800;
        text-align: center;
        margin: .5em;
      }

      &__subtitle {
        font-size: 1.5em;
        margin: .5em;
        text-align: center;
      }

      .c-cta-button {
        height: 45px;

        a {
          font-size: 1em;
        }

        @media #{$small-devices} {
          height: 35px;
          a {
            line-height: 35px;
          }
        }
      }
    }
  }

  &.primary {
    background-position: center;
  }

  &.secondary {
    $map: (328: 480, 577: 480, 1656: 624, 1746: 766, 2500: 766);
    height: minimosCuadrados($map);
    background-position: center;
    background-position-y: 4em;
  }

  &.tertiary {
    .header-box {
      border: 2px solid $primaryDark;
      background: none;
      &__title, &__subtitle {
        color: $primaryDark;
      }
    }
  }

  &.stats {
    // VARIABLES
    $max_columns_per_row: 3;
    $rows: 1;
    $height: 207.6px;
    $offset: 20em;

    height: fromPxToEm(207.6px) * $rows + $offset;
    background-color: $primaryWhite;
    background-position: center;
    text-transform: none;

    .stats {
      &__container {
        @include flexbox();
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        top: 54%;
        position: relative;
        max-width: 1342px;
        @include prefixed(transform, translateY(-50% * $rows));
      }

      &__item {
        $width: 250px;

        color: $primaryWhite;
        font-size: 1.25em;
        text-align: center;
        float: left;
        width: $width;
        display: none;
        margin: 0 auto;
        @for $column from 1 through $max_columns_per_row {
          @if ($column == 1) {
            &:first-of-type {
              display:block;
            }
          } @else {
            @media only screen and (min-width: $width * $column) {
              &:nth-of-type(#{$column}) {
                display:block;
              }
            }
          }
        }

        &:last-of-type {
          clear: right;
        }

        &-background {
          background-color: $sectionDark;
          border: 3px solid white;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          @include prefixed(border-radius, 50%);

          & ~ p {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
          }
        }

        &-counter {
          color: $primaryWhite;
          line-height: 100px;
          text-align: center;
          font-weight: 700;
        }

        p:first-of-type {
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}



