$breakpoint: 'only screen and (min-width: 520px)';

.items-pagination {
  @include flexbox();
  @include justify-content(center);
  width: 100%;
  padding: 1em 0 2em 0;

  &__link,
  &__link i {
    color: $primaryDark;
  }

  &__link {
    padding: .5em 1em .5em 1em;
    border: 1px solid $primaryDark;
    @include prefixed(border-radius, 3px);
    margin: 0 .25em;

    &:not(.active) {
      display: none;
      @media #{$breakpoint} {
        display: block;
      }
    }

    &[rel] {
      display: block;
    }

    &:active,
    &:hover,
    &:hover i,
    &.active {
      background: $primaryDark;
      color: $primaryWhite;
    }

    &:not([href]):not([tabindex]) {
      display: none;
    }

    &:not(.icon), &--splitter {
      text-align: center;
      width: 45px;
    }

    &.icon:first-of-type span {
      margin-left: .5em;
    }

    &.icon:last-of-type span {
      margin-right: .5em;
    }

    i {
      padding: 0;
    }

    &--splitter {
      border: none;
      color: $secondaryDark;
      font-weight: 500;
      display: none;
      padding: .5em;

      @media #{$breakpoint} {
        display: block;
      }
    }
  }
}