@mixin toolbar($container__width) {
  $medium-devices: "only screen and (min-width:" $container__width * 2 + (15 * 4) ")";
  $large-devices: "only screen and (min-width:" $container__width * 3 + (15 * 5) ")";

  /*
   * PRESETS
   */
  .select-wrapper {
    $width: 350px;
    width: 100%;
    position: relative;
    padding: 0;

    @media only screen and (min-width: #{$width}) {
      max-width: 350px;
    }

    &:after {
      content: '';
      position: absolute;
      left: calc(100% - 2.7em);
      top: 6px;
      width: 1em;
      height: 1em;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      border-top: solid 1px currentColor;
      border-right: solid 1px currentColor;
      z-index: 0;
    }

    select {
      padding-right: 4.75em;
      border: none;
      z-index: 1;
      position: relative;
      @include prefixed(appearance, none);
    }
  }


  .toolbar {
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    .tool {
      margin-bottom: 1em;
      &__filter {
        .select-wrapper {
          background-image: linear-gradient(to left, $primaryRed 62px, $primaryDark 62px);
          &:after {
            color: $primaryWhite;
          }

          select {
            background: transparent;
            cursor: pointer;
            color: $neutralColor;
            option {
              background: $primaryDark;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: #{$container__width}) {
    .toolbar {
      width: $container__width;
    }
  }

  @media #{$medium-devices} {
    .toolbar {
      width: $container__width * 2 + (15 * 1);
    }
  }

  @media #{$large-devices} {
    .toolbar {
      width: $container__width * 3 + (15 * 2);
    }
  }
}