.letter-spacing {
  &--location {
    font-size: 0.85em;
    letter-spacing: 0.3em;
  }
}

.alert-message {
  &--empty-list {
    @include flexbox();
    @include flex-direction(column);

    & > *:not(:first-child) {
      margin-top: 1em;
    }

    i {
      font-size: 6em;
      color: $neutralColor;
      margin: 0 auto;
    }
    color: $quaternaryRed;
    text-align: center !important;
    font-weight: 700;
  }
}

.attribution-text {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translateX(-50%);
  color: $primaryWhite;
  text-align: center;
  opacity: 0.5;
  a {
    font-weight: 500;
    &:hover {
      text-decoration: underline;
      color: $neutralColor;
    }
  }
}

.price-tag {
  &--secondary {
    b {
      font-size: 1.5em;
      color: $quaternaryRed;
      font-weight: 700;
    }
  }
}

span.total {
  display: block;
  border-top: 1px solid $neutralColor;
  margin-top: 0.5em;
  padding: 0.5em 0;
}